@using SafeHouseBusiness.Domain.Entidades
@model IList<Usuario>

@{
    ViewData["Title"] = "Usuários Cadastrados";
}

<h1>Usuários</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Criar">Criar Usuário</a>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Email</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Usuario item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Contato.Telefone</td>
                <td>@item.Contato.Email</td>
                <td>@Html.ActionLink("Editar", "Edit", "Usuario", new { id = item.Id })</td>
                <td>@Html.ActionLink("Deletar", "Delete", "Usuario", new { id = item.Id })</td>
            </tr>
        }
    </tbody>
</table>