<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SafehouseBusiness</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SafehouseBusiness.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="d-flex">
        <header>
            <nav class="navegacao">
                <ul class="my-5">
                    <li>
                        @Html.ActionLink("Usuários", "Index", "Usuario")
                    </li>
                    <li>
                        @Html.ActionLink("Locais de Consulta", "Index", "Usuario")
                    </li>
                    <li>
                        @Html.ActionLink("Reuniões", "Index", "Usuario")
                    </li>
                    <li>
                        @Html.ActionLink("Clientes", "Index", "Usuario")
                    </li>
                </ul>
            </nav>
        </header>
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <span class="toggle-times">&times;</span>
                </div>
            </div>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        let toggle = document.querySelector('.toggle')
        let nav = document.querySelector('.navegacao')
        let main = document.querySelector('.main')

        toggle.onclick = () => {
            nav.classList.toggle('active')
            main.classList.toggle('active')
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
